body {
    margin: 5em;
}

#tipu1 {
    float: left;
    border: dotted 1em orange;
    margin: 2em;
}

#tipu2 {
    float: right;
    border-top: 0.5em brown solid;
    border-bottom: 0.5em brown solid;
    margin: 2em;

}

dt {
    color: red
}

dd {
    font-style: italic;
}

a:active {
    background-color: darkgreen;
}

a:hover {
    color: crimson;
    font-size: larger;
    background-color: lightgreen;
}

a:visited {
    border: black solid 1px;
}

a:link {
    font-size: ;

}