/*oletuksena leveyden ja korkeuden asetukset sisältävät padding- ja border-ominaisuuksia*/
* {
    box-sizing: border-box;
}


p{
    color:red;
}
#navbar {
    background-color: antiquewhite;
    border: 1em solid black;
}
#info {
    background-color: antiquewhite;
    border: 1em solid black;
}
#linkit {
    background-color: antiquewhite;
    border: 1em solid black;
}
footer {
    background-color: antiquewhite;
    border: 1em solid black;
}