    @import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
    /*Imported font from google*/

    html,
    body {
        height: 99%;
        /*For avoiding scrollbar*/
        background-color: #1e272e;
    }

    * {
        box-sizing: border-box;
        /*oletuksena leveyden ja korkeuden asetukset sisältävät padding- ja border-ominaisuuksia*/
        font-family: 'Quattrocento', serif;
        /*using font from google*/
    }

    h1 {
        font-family: arial;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bolder;


    }

    :visited {
        color: rgb(85, 76, 76);
    }

    a:hover {
        color: #000000;
        font-size: 17px;
    }

    #wrapper {
        min-height: 100%;
        /*Ensures that the wrapper stays the full height of the screen even if there is hardly any content*/
        position: relative;
        /*Allows to absolutely position elements inside wrapper later*/

    }

    #navbar {
        background-color: #485460;
        padding: 1em;
        margin-bottom: 2em;
        border-bottom: 0.1em solid black;
        height: 10em;

    }

    nav {

        padding-top: 3em;
        padding-right: 20em;
        float: right;

    }


    #logo {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        height: 15em;
        width: 15em;
        border: 5px solid black;
        opacity: 0.1;

    }

    #logo img {
        width: auto;
        height: 120%;
        margin-left: -6em;

    }



    /*created main box for footer to stay always bottom of the page*/
    #mainbox {
        overflow: auto;

        padding-bottom: 6em;
        /* Height of the footer */

    }

    .infobox {
        background-color: #d2dae2;
        border: solid black 0.1em;
        padding: 1em;
        margin-bottom: 2em;
    }

    .tab {
        text-indent: 30px;
    }

    span {
        font-size: 13pt;
    }

    #infotext {

        padding-top: 13em;
        padding-left: 6em;
        padding-right: 6em;

    }

    #projects {
        margin-top: 3em;
        height: 15em;
        text-align: center;
    }

    #projects li {
        margin: 1em 0;
        list-style: none;
    }

    #publications {

        /*border: solid black 1px;*/
        margin-top: 5em;
        text-align: center;
    }

    .video1 {

        height: 10em;
        width: 15em;


    }

    .video2 {

        height: 10em;
        width: 15em;
        float: 50%;

    }

    #infoboxleft {
        float: left;
        width: 49.5%;
        height: 45em;
    }

    #infoboxright {
        float: right;
        width: 49.5%;
        height: 45em;
        padding-left: 4em;
    }

    #infoboxright ul {
        list-style-type: none;

    }

    #infoboxright li {
        padding-top: 0.7em;
        font-family: 'Quattrocento', serif;
        font-size: 30spx;

    }




    footer {

        border: 0.1em solid rgb(0, 0, 0);
        position: absolute;
        bottom: 0;
        /*Moves the footer bottom of the page*/
        width: 100%;
        height: 6em;
        /* Height of the footer */
        background: #808e9b;
    }

    #socialmedia {
        padding-top: 0.6em;
        padding-left: 20em;
        float: left;
        height: 6em;
        width: 43.5%;

    }

    /*socialmedia links*/
    .fa {
        padding: 20px;
        text-align: center;
        margin: 5px 2px;
        font-size: 30px;
        width: 50px;
        border-radius: 24%;
    }

    .fa:hover {
        opacity: 0.5;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }

    #contact {
        padding-top: 0.6em;
        float: left;
        height: 6em;
        width: 15em;

        text-align: center;
    }

    #contact p {
        font-size: 12pt;
        margin: 0;
    }


    #contactBox {
        top: 10%;
        left: 25%;
        color: rgb(13, 138, 54);

        border: 1px solid black;
        display: none;
        position: absolute;
        box-shadow: 20px 20px 500px 100px rgb(53, 50, 50);


    }

    #contactBtn {
        position: relative;
    }

    #contactCloseBtn {
        position: absolute;
        right: 2%;
        top: 2%;
    }




    #message {
        width: 50em;
        height: 25em;
        margin-left: .5em;
        margin-right: .5em;
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
        background-color: rgb(233, 243, 243);
    }

    #emailbox {
        float: right;
        width: 55%;
    }