h2 {}

#message {
    width: 50em;
    height: 25em;
}

fieldset {
    width: 41em;
    border-radius: 0.3em;
    background-color: rgb(233, 243, 243);
}

#emailbox {
    float: right;
    width: 55%;
}